<ion-header [translucent]="true">
  <ion-toolbar class="page-headers">
    <ion-title>Cotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="body-container">
  <img src="../../assets/aliquotaIOF.jpg" alt=""/>
  <div class="currency-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="currency-label">Moeda</ion-label>
          <ion-item>
            <ion-select ([ngModel])="selectedCurrency" (ionChange)="selectCurrency($event)" placeholder="Selecione uma moeda" interface="popover">
              <ion-select-option value="EUR">Euro</ion-select-option>
              <ion-select-option value="USD">Dólar americano</ion-select-option>
              <ion-select-option value="GBP">Libra</ion-select-option>
              <ion-select-option value="JPY">Iene japonês</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row>
        <ion-col>
          <ion-label id="quote-name" class="quote-label"></ion-label>
        </ion-col>
        <ion-col class="countdown-col">
          <ion-button class="update-button" (click)="updateCurrency()" color="light">Atualizar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="quote" class="quote-value"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
