<ion-header [translucent]="true">
  <ion-toolbar class="page-headers">
    <ion-title>
      Transferência
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="margin-left: 10px; color:rgb(69, 184, 169)">Saldo Disponível : R$
    <ion-text> {{ cash }} </ion-text>
  </h1>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Conta</ion-label>
      <ion-input type="number" [(ngModel)]="conta">
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="transfer"> </ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="decrement()" (click)="showAlerta()" expand="block" type="submit">
    CONFIRMAR</ion-button>

