<ion-header [translucent]="true">
  <ion-toolbar class="page-headers">
    <ion-title>
      Transferência
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="margin-left: 10px; color:rgb(69, 184, 169)">Saldo Disponível : R$
    <ion-text> {{ cash }} </ion-text>
  </h1>
  <p style="margin-left: 10px;">Destinatário</p>
  <ion-item>
    <ion-input #variable type='text' (change) = 'nome($event)' placeholder = "nome ou apelido"></ion-input>
  </ion-item>
  <p style="margin-left: 10px;">Conta</p>
  <ion-item>
    <ion-input #variable2 type = 'text' (change) = 'conta($event)' placeholder="Digite o número da conta" id = 'conta'></ion-input>
  </ion-item>
  <p style="margin-left: 10px;">Valor</p>
  <ion-item>
    <ion-input #variable3 [(ngModel)]="transfer" type="number"> </ion-input>
  </ion-item>

  <ion-list style="text-align:center">
    <ion-button (click)="decrement(variable, variable2, variable3)" (click) = "salvar()" style="color: white;" >CONFIRMAR</ion-button>
    <ion-button (click)="pegar()" style="color: white;" >ÚLTIMA CONTA INSERIDA</ion-button> 

    <ion-list>
      <br>
      {{g}}
      <br>
      {{d}}
      <br>
     {{e}}
    </ion-list>



  </ion-list>
</ion-content>
